html{
   font-family: Open Sans;
   font-size: 18px;
}

body{
   min-height: 100vh;
}

.main{
   padding: 1rem;
   display: grid;
   grid-template-columns: minmax(1fr, 500px);
   justify-content: center;
   gap: 3rem;
   
   @media screen and (min-width: 1000px){
      grid-template-columns: minmax(1fr, 1300px);
   }
}